/* main css file */

* {
    margin: auto;
    z-index: 2;
}

body {
    font-family: sans-serif, "Poppins";
}

/* header start */

header {
    background-color: rgb(138, 144, 255);
}

/* menu start */

.logo-img {
    position: relative;
    right: 200px;
}

.tools-bar-ul {
    margin: 0px 20px 0px 0px;
    padding: 10px 0px;
}

.tools-bar-li {
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin: 0px 20px 0px 10px;
    padding: 0px;
}

nav {
    background-color: rgba(138, 144, 255, .05);
    position: fixed;
    width: 100%;
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* dropdown start */

.dropdown {
    display: none;
    position: relative;

}

.dropdown-btn {
    background-color: white;
    color: rgba(138, 144, 255, .9);
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    position: relative;
    bottom: 40px;
}

.dropdown-a {
    color: white;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-a-container {
    display: none;
    position: absolute;
    background-color: rgba(138, 144, 255, .8);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .9);
    min-width: 160px;
}

.dropdown-a:hover {
    background-color: white;
    color: rgba(138, 144, 255, 1);
    font-weight: 600;
}

.dropdown:hover .dropdown-a-container {
    display: block;
    border: 1px solid rgba(255, 255, 255, .2);
}

.dropdown:hover .dropdown-btn {
    background-color: white;
}

/* dropdown end */

/* menu end */

/* banner start */

.banner {
    background-image: url("../images/banner-bg.jpg");
    width: 100%;
    background-repeat: round;
    height: 700px;
    z-index: -20;
}

.banner-img {
    z-index: 1;
}

.banner-item {
    position: relative;
    bottom: 250px;
}

.banner-h1 {
    color: white;
    font-size: 55px;
    font-weight: 300;
    margin-bottom: 20px;
}

.banner-p {
    color: white;
    font-size: 15px;
}

.banner-text {
    position: relative;
    margin: 0px 0px 20px 80px;
}

.banner-btn {
    background-color: white;
    border: none;
    outline: none;
    color: rgb(138, 144, 255);
    position: relative;
    margin-left: 80px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 20px;
}

.banner-btn:hover {
    padding: 14px 19px;
    transition: color 0.5ms ease;
    background-color: rgb(138, 144, 255);
    color: white;
    border: solid 1px white;
}

/* banner end */

/* header end */