* {
    margin: auto;
}

/* header start */

.tools_bar_a {
    list-style: none;
    position: relative;
    display: inline-block;
    color: white;
    font-size: 14px;
    margin: 0px 20px 0px 20px;
    padding: 0px;
    text-decoration: none;
}

nav {
    background-color: rgba(138, 144, 255, .0);
    position: fixed;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.banner {
    background-image: url("../images/banner-bg.jpg");
    width: 100%;
    background-repeat: round;
    height: 600px;
}

.dropdown_btn {
    background-color: white;
    color: rgba(138, 144, 255, .9);
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    display: none;
}