/* main css file */

* {
    margin: auto;
    z-index: 2;
}

/* header start */

header {
    background-color: rgb(138, 144, 255);
}

/* menu start */

.logo-img {
    position: relative;
    right: 200px;
}

.toolsbar-ul {
    margin: 0px 20px 0px 0px;
    padding: 10px 0px;
}

.toolsbar-li {
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin: 0px 20px 0px 10px;
    padding: 0px;
}

nav {
    background-color: rgba(138, 144, 255, .05);
    position: fixed;
    width: 100%;
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* dropdown start */

.dropdown {
    display: none;
    position: relative;

}

.dropdown-btn {
    background-color: white;
    color: rgba(138, 144, 255, .9);
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    position: relative;
    bottom: 40px;
}

.dropdown-a {
    color: white;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-a-counteiner {
    display: none;
    position: absolute;
    background-color: rgba(138, 144, 255, .8);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .9);
    min-width: 160px;
}

.dropdown-a:hover {
    background-color: white;
    color: rgba(138, 144, 255, 1);
} 

.dropdown:hover .dropdown-a-counteiner {
    display: block;
}

.dropdown:hover .dropdown-btn {
    background-color: white;
}

/* dropdown end */

/* menu end */

/* banner start */

.banner {
    background-image: url("../images/banner-bg.jpg");
    width: 100%;
    background-repeat: round;
    height: 600px;
    z-index: -20;
}

.banner-img {
    z-index: 1;
}

/* banner end */

/* header end */