/* variables */

/*color*/

$text-shadow: #333333;
$button: rgb(60, 173, 212);
$button-hover: rgb(79, 190, 228);

* {
    margin: auto;
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
}

/* header _ head part _ code */

header {
    background-image: url("../images/4.jpg");
    background-size: 1400px;
    color: white;
}

.tools_bar_item {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    cursor: pointer;

}

nav.tools_bar {
    position: absolute;
    right: 50px;
    top: 20px;
    cursor: context-menu;
}

.tools_bar_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all .5s;
}

.tools_bar_link:hover {
    color: rgba(255, 255, 255, 1);
    transition: color 0.3ms ease-in-out;
}

.header_head_h1 {
    text-decoration: none;
    font-size: 18px;
    position: relative;
    top: 25px;
    left: 60px;
    color: white;
    border-bottom: 0px white solid;
    transition: all .1s;
}

.header_head_h1:hover {
    border-bottom: 2px white solid;
}

/* header _ foot part _ code */

.header_foot {
    margin-top: 250px;
    text-align: center;
}

.header_foot_h2 {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: -30px;
}

.header_foot_p {
    font-size: 25px;
    margin-top: 40px;
    font-weight: 100;
}

.button_link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.header_button {
    background-color: $button;
    border-radius: 50px;
    width: 280px;
    height: 55px;
    border-style: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
    box-shadow: 5px 5px 8px $text-shadow;
    transition: all .25s ease-out;
}

.header_button:hover {
    background-color: $button-hover;
    box-shadow: 7px 5px 2px $text-shadow;
    margin-top: 49px;
}

.header_button:focus {
    border-style: none;
    outline: none;
}

.signup_button {
    background-color: white;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 50px;
    width: 90px;
    height: 35px;
    border-radius: 50px;
    border-style: none;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    margin-top: 20px;
}

.signup_button a {
    color: black;
    text-decoration: none;
}

.signup_button:focus {
    border-style: none;
    outline: none;
}

/*main _ head part _ code */

main {
    margin-top: 0px;
}

.main_head {
    background-color: #dcd0e7;
    color: #474747;
    text-align: center;
}

.main_button {
    background-color: $button;
    border-radius: 50px;
    width: 280px;
    height: 55px;
    border-style: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.main_button:hover {
    background-color: $button-hover;
}

.main_button:active {
    border-style: none;
    outline: none;
}

.main_head_h2 {
    padding-top: 50px;
    font-size: 45px;
    padding-top: 80px;
    margin-bottom: 15px;
}

.facility {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(144, 144, 144, .3);
    padding-bottom: 80px;
}

.first_article_facility,
.second_article_facility,
.third_article_facility {
    width: 27%;
    height: 400px;
    background-color: white;
    border: 1px solid rgba(144, 144, 144, .3);
    border-radius: 4px;
}

.main_head_p {
    font-size: 20px;
    margin-bottom: 70px;
    font-weight: 100;
}

.shuttle_icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(238, 130, 238, 0.616);
}

.desktop_icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(74, 214, 18, 0.733);
}

.cloud_icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(39, 199, 199, 0.815);
}

.fas {
    color: black;
    text-align: center;
    margin-top: 35px;
}

.article_icon {
    margin: 20px auto;
}

.article_h3 {
    color: #858585;
    text-align: center;
    width: 130px;
    line-height: 30px;
    margin-bottom: 20px;
}

.article_p {
    color: #525252;
    text-align: center;
    font-size: 15px;
    width: 330px;
    line-height: 20px;
    font-weight: 100;
}

/* main _ foot part _ code */

.main_foot_h2 {
    color: #474747;
    margin-top: 80px;
    font-size: 50px;
    margin-bottom: 15px;
}

.main_foot_p {
    color: #858585;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 100;
}

.main_foot {
    text-align: center;
}

.hr_first {
    display: block;
    width: 95%;
    margin: 70px auto;
    border-bottom: 1px solid #dcd0e7;
}

.hr_second {
    display: block;
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #dcd0e7;
}

.members {
    position: relative;
    padding-top: 5px;
    margin-top: -20px;
    vertical-align: middle;
    padding-bottom: 25px;
}

.members_div {
    background-color: #dcd0e7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: left;
    margin-right: -140px;
    margin-left: 30px;
}

.members_p {
    position: relative;
    float: left;
    margin: 5px;
    color: #858585;
    font-size: 15px;
    font-weight: 100;
}

.members_h4 {
    position: relative;
    float: left;
    margin: 10px;
    color: #525252;
    font-size: 20px;
}

.ico_1 {
    margin-top: 30px;
}

.ico_2 {
    margin-top: 20px;
}

.ico_3 {
    margin-top: 10px;
}

.ico_4 {
    margin-top: 0px;
}

.h4_1 {
    left: 135px;
    top: 40px;
}

.h4_2 {
    left: 135px;
    top: 30px;
}

.h4_3 {
    left: 135px;
    top: 20px;
}

.h4_4 {
    left: 135px;
    top: 10px;
}

.p_1 {
    left: -5px;
    top: 80px;
}

.p_2 {
    left: -65px;
    top: 70px;
}

.p_3 {
    left: -38px;
    top: 60px;
}

.p_4 {
    left: -37px;
    top: 50px;
}

.main_foot_second_article_p {
    text-align: center;
    font-size: 18px;
    margin-top: 80px;
    width: 700px;
    line-height: 20px;
    color: #525252;
    font-weight: 100;
}

/* footer _ head part _ code */

.footer_head {
    background-color: #3cadd4;
}

.form_h2 {
    color: white;
    padding-top: 80px;
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.form_p {
    color: white;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    height: 360px;
    padding-bottom: 130px;
}

input[type="name"] {
    width: 230px;
    height: 5px;
    color: #525252;
    border: 1px solid #3cadd4;
    border-radius: 40px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 200px;
    font-size: 20px;
    padding: 15px;
    text-align: left;
}

input[type="email"] {
    width: 230px;
    height: 5px;
    color: #525252;
    border: 1px solid #3cadd4;
    border-radius: 40px;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 200px;
    font-size: 20px;
    padding: 15px;
    text-align: left;
}

input[type="name"]:focus {
    border-style: none;
    outline: none;
    border: 4px solid #60328d;
}

input[type="email"]:focus {
    border-style: none;
    outline: none;
    border: 4px solid #60328d;
}

textarea {
    width: 544px;
    height: 150px;
    position: relative;
    border: 1px solid #3cadd4;
    top: 40px;
    border-radius: 5px;
    right: -1000px;
    color: #525252;
    padding: 15px;
    font-size: 20px;
    resize: none;
}

textarea:focus {
    border-style: none;
    outline: none;
    border: 4px solid #60328d;
}

.info {
    margin-right: -1950px;
}

input[type="submit"] {
    position: relative;
    background-color: #383b43;
    color: white;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    top: 190px;
    left: -185px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #444444;
}

input[type="submit"]:focus {
    border-style: none;
    outline: none;
}

.fa-user {
    margin: 20px auto;
}

.footer_section {
    display: inline-block;
}

ul {
    list-style: none;
}

.footer_foot {
    background-color: #383b43;
}

.footer_section a {
    color: #cdced0;
    text-decoration: none;
    font-size: 15px;
}

.footer_section a:hover {
    text-decoration: underline;
}

.footer_section h3 {
    color: #ffffff;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 30px;
    font-size: 20px;
}

.footer_section li {
    margin-bottom: 20px;
    margin-left: 40px;
}

.footer_first_article::after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #858585;
    margin: 50px auto;
    margin-bottom: 80px;
}

.footer_article_ul {
    color: #858585;
    font-size: 15px;
}

.footer_article_li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.fa-facebook {
    color: #3B5998;
}

.fa-twitter-square {
    color: #08a0e9;
}

.fa-google-plus-square {
    color: #DB4437;
}

.fa-linkedin {
    color: #0077B5;
}

.ico_li {
    margin-left: 1000px;
    margin-top: -20px;
    position: relative;
    top: -40px;
}

.ico_li a {
    margin: 10px;
}